image: rancher/golang:1.13-windowsservercore
manifests:
  -
    image: rancher/golang:1.13-windowsservercore-1809
    platform:
      architecture: amd64
      os: windows
      version: 1809
  -
    image: rancher/golang:1.13-windowsservercore-20H2
    platform:
      architecture: amd64
      os: windows
      version: 20H2